<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="OrderDetail">

	<select id="selectAllById" resultType="OrderDetail" parameterType="int">
		select * from order_detail where orders_id=#{orders_id}
	</select>
	
	<insert id="insert" parameterType="OrderDetail">
		insert into order_detail(order_detail_id, orders_id, product_id, filename, product_name, product_price, quantity)
		values(seq_order_detail.nextval, #{orders_id}, #{product_id}, #{filename}, #{product_name}, #{product_price}, #{quantity})
	</insert>
</mapper>